{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Delete Bike?</h1>
  <img src="{% static 'images/gravel.jpeg' %}" alt="A gravel bike"/>
</div>
<h2>Are you sure you want to delete this {{ bike.get_type_display}}?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'bikes_detail' bike.id %}" 
    class="btn secondary"
  >Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}