{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/gear/gear-details.css' %}"
/>
{% endblock %}

{% block content %}
<div class="detail-page">
<div class="card">
  <div class="card-content">
    <img src="{{ gear.picture }}" alt="image of item">
    <div class='card-text'>
    <h2>{{ gear.item }}<h2>
    <p>{{ gear.details }}</p>
    </div>

  </div>
</div>
<div class='btns'>
<a href="{% url 'gear_update' gear.id %}" class="btn warn">Edit</a>
<a href="{% url 'gear_delete' gear.id %}" class="btn danger">Delete</a>
</div>
</div>
{% endblock %}