{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/bikes/bike-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="bike-container">
  <h2>{{ bike.type }}</h2>
  <div class="bike-img">
    <img 
      src="{% static 'images/gravel.jpeg' %}" 
      alt="a gravel bike"
    >
  </div>
  <div class="bike-details">
    <h3>Description: {{ bike.description }} </h3>
    <h3>Pros: {{bike.pros}}</h3>
    <h3>Cons: {{ bike.cons }}</h3>
</div>
<div class="bike-actions">
  <a href="{% url 'bikes_update' bike.id %}" class="btn warn">Edit</a>
  <a href="{% url 'bikes_delete' bike.id %}" class="btn danger">Delete</a>
</div>
  </div>
</section>

{% endblock %}