{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/bikes/bike-detail.css' %}"
/>
<script defer src="{% static 'js/bike-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="bike-container">
  <h2>{{ bike.type }}</h2>
  <div class="bike-img">
    <img 
      src="{% static 'images/gravel.jpeg' %}" 
      alt="a gravel bike"
    >
  </div>
  <div class="bike-details">
    <h3>Description: {{ bike.description }} </h3>
    <h3>Pros: {{bike.pros}}</h3>
    <h3>Cons: {{ bike.cons }}</h3>
  </div>
  <div class="bike-actions">
    <a href="{% url 'bikes_update' bike.id %}" class="btn warn">Edit</a>
    <a href="{% url 'bikes_delete' bike.id %}" class="btn danger">Delete</a>
  </div>
</section>
<div class="m-c">
  <section class="upkeep">
    <div class="subsection-title">
      <h2>Maintenance</h2>
    </div>
    <h3>Add Work Done</h3>
    <form
      action="{% url 'add_maintenance' bike.id %}"
      method="POST" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ maintenance_form.as_p }}
      <button type="submit" class="btn submit">Add
      </button>
    </form>
    <h3>Maintenance History</h3>
    {% if bike.maintenance_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Work</th></tr>
      </thead>
      <tbody>
        {% for maintenance in bike.maintenance_set.all %}
          <tr>
            <td>{{maintenance.date}}</td>
            <td>{{maintenance.get_work_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
		<div class="subsection-content">
      <p>{{bike.type}} has no maintenance history</p>
    </div>
  {% endif %}
  </section>
</div>

{% endblock %}